.center {
  text-align: center;
}

.btnContainer{
    padding: 20px 0;
}

.linkBtn{
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 10px;
}